Treat unknown <message/> @type as "normal"

from [RFC 6121, section 5.2.2](https://tools.ietf.org/html/rfc6121#section-5.2.2):
> An IM application SHOULD support all of the foregoing message types. If an application receives a message with no 'type' attribute or the application does not understand the value of the 'type' attribute provided, it MUST consider the message to be of type "normal" (i.e., "normal" is the default).

The current XSO definition does not perform that alias ([see stanza.py](https://github.com/horazont/aioxmpp/blob/a4bce1da356543077168cc97eaa2d1c439007d56/aioxmpp/stanza.py#L631)). It won’t be entirely trivial to implement and will require at least a subclass of EnumCDataType.