Default value of {jabber:iq:roster}item/@subscription is missing

```
jabbercat/aioxmpp/aioxmpp/xso/model.py", line 811, in handle_missing
    tag_to_str(instance.TAG),
ValueError: missing attribute subscription on {jabber:iq:roster}item
```

[RFC 6121 §2.1.2.5](https://tools.ietf.org/html/rfc6121#section-2.1.2.5) mandates:
> none:  the user does not have a subscription to the contact's presence, and the contact does not have a subscription to the user's presence; this is the default value, so if the subscription attribute is not included then the state is to be understood as "none"