RFC 6121: Support for managing Directed Presence in PresenceServer

For the purpose of this document, **Directed Presence** is a ``<presence/>`` stanza sent to any JID explicitly (i.e. not to the account for the server to distribute). [RFC 6121 § 4.6](https://tools.ietf.org/html/rfc6121#section-4.6) specifies Directed Presence in the XMPP protocol.

Currently, aioxmpp allows sending for Directed Presence (obviously, because arbitrary stanzas can be sent), but it doesn’t support proper management. The reason why additional management is useful/required is that in contrast to normal presence, the server does *not* automatically forward presence updates to entities the user has sent Directed Presence to (unless the entity is already subscribed to the presence).

The main implication is that MUCs to which the user is joined do *not* get presence updates (because they are never subscribed to the users presence) when the users presence changes after having joined.

The PresenceServer should provide an interface to:

1. Send directed presence to an entity (similar to set_presence)
2. Send directed presence to an entity and temporarily subscribe it to presence updates (by automatically delivering presence sent via ``set_presence`` or ``resend_presence`` to that entity). This should be handled by an option to the method provided in (1).
3. When unavailable directed presence to an entity, it should clear the subscription if created per (2).

**up-for-grabs note:** Please see the README and join our chat room if you want help or guidelines on how to implement this.