XEP-0199 (XMPP Ping) support

We currently use XEP-0199 pings (to the server) automatically in the Stanza Stream (if Stream Management is not available). However, there’s no proper service which implements them and also we do not reply properly to pings.

Tricky things to note:

* What is the intent of the ping?
* If you only want to know that the entity is there, it isn’t necessary that the entity returns a valid pong; it’s sufficient to see that it has returned the IQ at all.

Discussion in the XSF MUC (logs are currently not available online) seems to have brought the following condition for a valid Pong:

```python
iq.type_ == IQType.RESULT or (
    iq.error.type_ == ErrorType.CANCEL and (
        # response to unhandled IQs as per RFC 6120
        iq.error.condition == (namespaces.stanzas, "service-unavailable") or
        # another response (incorrectly) returned by some implementations
        iq.error.condition == (namespaces.stanzas, "feature-not-implemted")
    )
)
```

We cannot treat every error as valid pong because e.g. a 'wait' typed 'service-unavailable' is used e.g. by prosody if a component required for the ping is not available, in which case it is not sure that the target entity was reached at all.

The above does in fact not work reliably, since servers also reply with service-unavailable type cancel if an account does not exist or a resource is offline.

This may have been the intention of RFC 6120 Section 8.4, to make it indistinguishable whether a client does not implement a feature or whether it is offline or its account does not exist.