PRECIS support

[RFC 7622 "XMPP Address Format"][1] (obsoleting [RFC 6122][2]) specifies the use of PRECIS ([RFC 7564][3]).

This should be implemented in aioxmpp.

   [1]: https://tools.ietf.org/html/rfc7622
   [2]: https://tools.ietf.org/html/rfc6122
   [3]: https://tools.ietf.org/html/rfc7564

There is this library we can use at some point https://github.com/byllyfish/precis_i18n

At *latest* this should be fixed in v1.0, because it will break some things due to how PRECIS differs from stringprep. Ideally, we get it done earlier.